/* Labels format */
.task-label {
   font-size: 36px;
   font-weight: bold;
   color: #ffffff;
   background-color: rgba(10,10,10,0.7);
   border-radius: 5px;
   padding: .5em;
}

/* Task entries */
.task-entry {
   border-width: 1px;
   border-color: #b6d296;
}

/* Generic buttons */
.button {
    display: inline-block;
    padding: 0.3em 1em;
    margin: 0;
    text-decoration: none;
    font: 11px/normal sans-serif;
    color: #333;
    outline: none;
    background-color: #ececec;
    border-radius: 0.3em;
    border-color: #000;
}

.button:hover,
.button:focus {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    color: #fff;
    background-color: #3C8DDE;
}

.button:active,
.button.active {
    color: #fff;
    border-color: #2a65a0;
    border-bottom-color: #3884CF;
    background-color: #3072b3;
}

/* Danger buttons */
.button.danger {
      color: #900;
   }
.button.danger:hover,
.button.danger:focus,
.button.danger:active {
    background-color: #b33630;
    border-color: #cd504a;
    color: #b33630;
 }

.button.danger:active,
.button.danger.active {
    border-color: #a0302a;
    border-bottom-color: #bf4843;
    color: #b33630;
    background-color: #fff;
}
